  * {
  padding: 0px;
  margin: 0px;
}

body {
  background: #D7F5DC;
  margin-inline: 50px;
  margin-top: 10px;

}

body {
  background-color: #d4f0db;
  margin: 0;
  padding: 0;
}

#top-section {
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: inline-block;
  vertical-align: middle;
}

#logo span {
  color: #ff6600;
}

#menu {
  float: right;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 16px;
  color: black;
  vertical-align: middle;
}

#menu ul li:hover {
  color: #20b15a;
}

.services-dropdown {
  position: relative;
  display: inline-block;
}

.services-dropdown button {
  background: none;
  border: none;
  font-size: 16px;
  color: black;
  cursor: pointer;
  font-weight: normal;
}

.services-dropdown:hover button {
  color: #20b15a;
}

.services-dropdown:hover .dropdown-list {
  display: block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  border-radius: 8px;
  padding: 10px 0;
  margin-top: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  left: -20px;
}

.dropdown-list li {
  display: block;
  padding: 12px 20px;
  margin-left: 0;
  color: black;
}

.dropdown-list li:hover {
  background-color: #e8f5e9;
  color: #20b15a;
}

#buttons {
  display: inline-block;
  margin-left: 40px;
}

#login-button {
  padding: 12px 30px;
  border-radius: 10px;
  border: 1px solid #20b15a;
  background: white;
  color: black;
  font-size: 16px;
}

#register-button {
  padding: 12px 30px;
  border-radius: 10px;
  background-color: #20b15a;
  color: white;
  border: none;
  margin-left: 15px;
  font-size: 16px;
}


.container {
  display: flex;
  margin: 30px;

}

h1 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 57.31px;
  line-height: 74.51px;
  letter-spacing: 0%;
  color: #000000;
}

p {
  margin-top: 10px;
  font-family: Avenir;
  font-weight: 500;
  font-style: Medium;
  font-size: 22.93px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.third {
  margin-top: 42.41px;
  width: 200.77499389648438;
  height: 79.85000610351562;
  opacity: 1;
  padding-top: 22.93px;
  padding-right: 34.39px;
  padding-bottom: 22.93px;
  padding-left: 34.39px;
  gap: 11.46px;
  border-radius: 18.34px;
  background: #20B15A;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 22.93px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  gap: 42.46px;
}

img {
  width: 770.3px;
  height: 646.5px;
  top: 136.4px;
  left: 777.16px;
  opacity: 1;

}


.patners {
  display: flex;
  background-color: white;
  height: 33.37px;
  opacity: 1;
  padding: 40px;
  justify-content: space-between;
}

.pic-1 {
  width: 101.68px;
  height: 33.37px;
  top: 53.02px;
  left: 131.82px;
  bottom: 51.16px;
}

.pic-2 {
  bottom: 51.16px;
  width: 162.7px;
  height: 33.37px;
  top: 53.02px;
  left: 405.44px;
  opacity: 1;
}

.pic-3 {
  width: 179.82px;
  height: 33.37px;
  top: 50.44px;
  left: 740.07px;
  opacity: 1;
}

.pic-4 {
  width: 91.83px;
  height: 33.37px;
  top: 53.02px;
  left: 1091.83px;
  opacity: 1;
}

.pic-5 {
  width: 131.00482177734375;
  height: 33.36528778076172;
  top: 53.02px;
  left: 1355.6px;
  opacity: 1;
}

.what-do {
  background-color: white;
  margin-top: 34px;
  padding: 80px 100px;
}

span {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #20B15A;
  display: block;
  margin-bottom: 20px;
}

h4 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 60px;
}

.for-icons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 60px;
}

.img-1 {
  width: 60px;
  height: 60px;
  opacity: 1;
  background-color: #D7F5DC;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

.img-2 {
  width: 60px;
  height: 60px;
  opacity: 1;
  background-color: #D7F5DC;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

.img-3 {
  width: 60px;
  height: 60px;
  opacity: 1;
  background-color: #D7F5DC;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

h5 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 15px;
}

.para {
  font-family: Avenir;
  font-weight: 400;
  font-style: Roman;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 30px;
}

.icon-1 {
  flex: 1;
}

.icon-2 {
  flex: 1;
}


.icon-3 {
  flex: 1;
}

.bin-img {
  width: 16px;
  height: 14px;
  border: 2px;

}

.pag-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s;
}

.pag-2:hover {
  color: #20B15A;
}

.main-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main-1 {
  width: 240px;
  height: 259px;
  opacity: 1;
  gap: 15px;
  padding: 40px;
  border-right-width: 1px;
  border-right: 1px solid #C4C4C480;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-2 {
  width: 260px;
  height: 259px;
  opacity: 1;
  gap: 15px;
  padding: 40px;
  border-right-width: 1px;
  border-right: 1px solid #C4C4C480;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-3 {
  width: 240px;
  height: 259px;
  opacity: 1;
  gap: 15px;
  padding: 40px;
  border-right-width: 1px;
  border-right: 1px solid #C4C4C480;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-4 {
  width: 240px;
  height: 259px;
  opacity: 1;
  gap: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page3 {
  background-color: white;
}

.hi {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #20B15A;
  display: block;
  margin-bottom: 24px;
  margin-top: 62px;
  margin-left: 113px;
  padding-top: 80px;
}

.third-contant {
  margin-left: 113px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;

}

.subpart-3 {
  display: flex;
  justify-content: center;

}

.subimg-1 {
  width: 561px;
  height: 342.31px;
  opacity: 1;
  margin-bottom: 42.79px;
  margin-right: 95px;
}


.subimg-2 {
  width: 561.15px;
  height: 521.21px;
  opacity: 1;
  margin-bottom: 42.64px;


}

.sub-head1 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22.82px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;

}

.sub-1 {
  margin-left: 97px;
}

.sub-head2 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22.74px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.sub-para1 {
  font-family: Avenir;
  font-weight: 400;
  font-style: Book;
  font-size: 15.21px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.sub-para2 {
  font-family: Avenir;
  font-weight: 400;
  font-style: Book;
  font-size: 15.16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;

}

.subpart-4 {
  display: flex;

}

.subimg-3 {
  width: 561px;
  height: 522.97px;
  opacity: 1;
  margin-left: 113px;
  margin-right: 95px;
  margin-top: 98.64;
  margin-bottom: 42.74px;
}

.subimg-4 {
  width: 554px;
  height: 338.03px;
  opacity: 1;
  margin-top: 95.93px;
  margin-bottom: 55.4px;
  /* margin-right: 117px; */
  /* margin-left: 95px; */
}

.sub-head3{
  margin-bottom: 14.26px;
  margin-left: 113px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22.82px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  
}
.sub-head4{
  margin-bottom: 14.08px;
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 22.54px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}
.sub-para3{
  font-family: Avenir;
font-weight: 400;
font-style: Book;
font-size: 15.21px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
margin-left: 113px;
margin-bottom: 74.98px;

}
.sub-para4{
  margin-right: 14.23px;
  margin-bottom: 71.48px;
  font-family: Avenir;
font-weight: 400;
font-style: Book;
font-size: 15.02px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;

}
.hi2{font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #20B15A;
}
.forth-contant{
  font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
text-transform: capitalize;
color: #000000;
}
.test-2{
  display: flex;


}
.testimg-1{
width: 470px;
height: 260px;
opacity: 1;
gap: 20px;
border-radius: 20px;
padding: 40px;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #00000040;
margin-right: 45px;
margin-left: 124px;
margin-bottom: 118px;
}
.testimg-2{
width: 470px;
height: 260px;
opacity: 1;
gap: 20px;
border-radius: 20px;
padding: 40px;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #00000040;
margin-right: 45px;
margin-bottom: 118px;

}
.testimg-3{
width: 470px;
height: 260px;
opacity: 1;
gap: 20px;
border-radius: 20px;
padding: 40px;
color: #FFFFFF;
box-shadow: 0px 4px 4px 0px #00000040;
}