*{
    margin: 0px;
    padding: 0px;
}
.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
h1{font-size: 200px;
    display: inline-block;
    border-bottom: 3px solid #d4ff00;

}
.right{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d4ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;

}

.main-container {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    margin-top: 140px; 
    padding: 60px;
}
.container{
    width: 23%;
}
.container h2{
    font-size: 26px;
}
.container h4{
    margin-bottom: 10px;
}
p{
    font-size: 14px;
margin-bottom: 13px;
color: white;
}
a{
    color: #fff;
    font-size: 13px;
}
.social-icon{
    margin-right: 13px;
    font-size: 18px;
    cursor: pointer;
}
.so{
    margin-top: 30px;
}
.arrow{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin-left: 6px;
    position: relative;
    top: 2px;
}

